button#createPO, button#connectQbo {
    background-image: none;
    background-color: #2CA01C;
    color: #FFFFFF;
    border-radius: 3px;
    border-color: #2CA01C;
    box-shadow: none;
    padding: 0 10px;
    margin: 0px 10px;
    text-decoration: none;
}
button#createPO:disabled,button#connectQbo:disabled {
    cursor: not-allowed;
}
