<p>Free end user licence agreement: cover</p>
<ol>
<li>This template legal document was produced and published by SEQ Legal LLP.</li>
<li>We control the copyright in this template, and you may only use this template in accordance with the licensing provisions in our terms and conditions. Those licensing provisions include an obligation to retain the SEQ Legal credit incorporated into the template.</li>
<li>The current version of our terms and conditions is available at: <a href="https://seqlegal.com/our-terms-and-conditions"><span style="color: blue;">https://seqlegal.com/our-terms-and-conditions</span></a>.</li>
<li>If you would like to use this template without the SEQ Legal credit, you can purchase a licence to do so at: <a href="https://www.website-contracts.co.uk/seqlegal-licences.html"><span style="color: blue;">https://www.website-contracts.co.uk/seqlegal-licences.html</span></a></li>
<li>You will need to edit this template before use. Guidance notes to help you do so are set out at the end of the template. During the editing process, you should delete those guidance notes and this cover sheet. Square brackets in the body of the document indicate areas that require editorial attention. "ORs" in the body of the document indicate alternative provisions. By the end of the editing process, there should be no square brackets left in the body of the document, and only one alternative from each set of alternatives should remain. Elements may be specified as optional in the accompanying notes, but that does not mean that they are in all cases removable. Depending upon the circumstances, an optional element may be: (i) required by law; or (ii) necessary to ensure that the document is internally consistent.</li>
<li>If you have any doubts about the editing or use of this template, you should seek professional legal advice.</li>
<li>You may be able to get free legal guidance using our public Q&amp;A system, available at: <a href="https://seqlegal.com/questions"><span style="color: blue;">https://seqlegal.com/questions</span></a>.</li>
<li>You can request a quote for legal services (including the adaptation or review of a legal document produced from this template) using this form: <a href="https://seqlegal.com/request-quote"><span style="color: blue;">https://seqlegal.com/request-quote</span></a>.</li>
</ol>
<p><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Verdana',sans-serif;">&nbsp;</span></p>
<p>&nbsp;</p>
<p>End user licence agreement</p>
<p>Please read this EULA carefully, as it sets out the basis upon which we license the Software for use.</p>
<p>By breaking the seal on the packaging of the Software, you agree to be bound by this EULA.[ If you do not agree to be bound by this EULA, you must [promptly] return the Software (in its sealed packaging) to your supplier.[ Upon returning the Software and providing proof of purchase, you will be entitled to a refund.]]</p>
<p>OR</p>
<p>By clicking "accept agreement" when you first install the Software, you agree to be bound by the provisions of this EULA.[ If you do not agree to be bound by the provisions of this EULA, you must [click "reject agreement" during the installation process and promptly return the Software (on the media upon which the Software was provided) to your supplier].[ Upon returning the Software and providing proof of purchase, you will be entitled to a refund.]]</p>
<p>OR</p>
<p>Before you download the Software from our website, we will ask you to give your express agreement to the provisions of this EULA.</p>
<p>By agreeing to be bound by this EULA, you further agree that [your employees] OR [any person you authorise to use the Software] OR [<em>[identify persons]</em>] will comply with the provision of this EULA.</p>
<ol>
<li>Definitions</li>
</ol>
<p>1.1&nbsp;&nbsp;&nbsp; Except to the extent expressly provided otherwise, in this EULA:</p>
<p>"<strong>Charges</strong>" means [those amounts that the parties have agreed in writing shall be payable by the User to the Licensor in respect of this EULA];</p>
<p>"<strong>Documentation</strong>" means [the documentation for the Software produced by the Licensor and delivered or made available by the Licensor to the User];</p>
<p>"<strong>Effective Date</strong>" means [the date upon which the User gives the User's express consent to this EULA, following the issue of this EULA by the Licensor];</p>
<p>"<strong>EULA</strong>" means [this end user licence agreement, including any amendments to this end user licence agreement from time to time];</p>
<p>"<strong>Force Majeure Event</strong>" means [an event, or a series of related events, that is outside the reasonable control of the party affected (including failures of the internet or any public telecommunications network, hacker attacks, denial of service attacks, virus or other malicious software attacks or infections, power failures, industrial disputes affecting any third party, changes to the law, disasters, explosions, fires, floods, riots, terrorist attacks and wars)];</p>
<p>"<strong>Intellectual Property Rights</strong>" means [all intellectual property rights wherever in the world, whether registrable or unregistrable, registered or unregistered, including any application or right of application for such rights (and these "intellectual property rights" include copyright and related rights, database rights, confidential information, trade secrets, know-how, business names, trade names, trade marks, service marks, passing off rights, unfair competition rights, patents, petty patents, utility models, semi-conductor topography rights and rights in designs)];</p>
<p>"<strong>Licensor</strong>" means [<em>[individual name]</em> of <em>[address]</em>] OR [<em>[company name]</em>, a company incorporated in [England and Wales] (registration number <em>[registration number]</em>) having its registered office at <em>[address]</em>] OR [<em>[partnership name]</em>, a partnership established under the laws of [England and Wales] having its principal place of business at <em>[address]</em>];</p>
<p>"<strong>Licensor Indemnity Event</strong>" has the meaning given to it in Clause 13.1;</p>
<p>"<strong>Maintenance Services</strong>" means the [supply to the User] OR [application to the Software] OR [supply to the User and application to the Software] of Updates and Upgrades;</p>
<p>"<strong>Minimum Term</strong>" means[, in respect of this EULA, the period of 12 months beginning on the Effective Date];</p>
<p>"<strong>Services</strong>" means [any services that the Licensor provides to the User, or has an obligation to provide to the User, under this EULA];</p>
<p>"<strong>Software</strong>" means <em>[identify software]</em>;</p>
<p>"<strong>Software Defect</strong>" means a defect, error or bug in the Software having [an adverse effect] OR [a material adverse effect] on [the appearance, operation, functionality or performance of the Software][, but excluding any defect, error or bug caused by or arising as a result of:</p>
<p>(a)&nbsp;&nbsp;&nbsp; [any act or omission of the User or any person authorised by the User to use the Software];</p>
<p>(b)&nbsp;&nbsp;&nbsp; [any use of the Software contrary to the Documentation by the User or any person authorised by the User to use the Software];</p>
<p>(c)&nbsp;&nbsp;&nbsp; [a failure of the User to perform or observe any of its obligations in this EULA]; and/or</p>
<p>(d)&nbsp;&nbsp;&nbsp; [an incompatibility between the Software and any other system, network, application, program, hardware or software not specified as compatible in the Software Specification];]</p>
<p>"<strong>Software Specification</strong>" means [the specification for the Software set out in the Documentation];</p>
<p>"<strong>Source Code</strong>" means [the Software code in human-readable form or any part of the Software code in human-readable form, including code compiled to create the Software or decompiled from the Software, but excluding interpreted code comprised in the Software];</p>
<p>"<strong>Support Services</strong>" means [support in relation to the use of the Software and the identification and resolution of errors in the Software, but shall not include the provision of training services whether in relation to the Software or otherwise];</p>
<p>"<strong>Term</strong>" means [the term of this EULA, commencing in accordance with Clause 3.1 and ending in accordance with Clause 3.2];</p>
<p>"<strong>Update</strong>" means [a hotfix, patch or minor version update to the Software];</p>
<p>"<strong>Upgrade</strong>" means [a major version upgrade of the Software];</p>
<p>"<strong>User</strong>" means [the person to whom the Licensor grants a right to use the Software under this EULA]; and</p>
<p>"<strong>User Indemnity Event</strong>" has the meaning given to it in Clause 13.3.</p>
<ol start="2">
<li>Credit</li>
</ol>
<p>2.1&nbsp;&nbsp;&nbsp; This document was created using a template from SEQ Legal (<a href="https://seqlegal.com"><span style="color: blue;">https://seqlegal.com</span></a>).</p>
<p><em>You must retain the above credit. Use of this document without the credit is an infringement of copyright. However, you can purchase from us an equivalent document that does not include the credit.</em></p>
<ol start="3">
<li>Term</li>
</ol>
<p>3.1&nbsp;&nbsp;&nbsp; This EULA shall come into force upon the Effective Date.</p>
<p>3.2&nbsp;&nbsp;&nbsp; This EULA shall continue in force [indefinitely] OR [until <em>[date]</em>, at the beginning of which this EULA shall terminate automatically] OR [until <em>[event]</em>, upon which this EULA shall terminate automatically], subject to termination in accordance with Clause 15 or any other provision of this EULA.</p>
<ol start="4">
<li>Licence</li>
</ol>
<p>4.1&nbsp;&nbsp;&nbsp; The Licensor hereby grants to the User from [the date of supply of the Software to the User][ until [the end of the Term]] a [worldwide, non-exclusive] licence to:</p>
<p>(a)&nbsp;&nbsp;&nbsp; [install[ [a single instance] of] the Software];</p>
<p>(b)&nbsp;&nbsp;&nbsp; [use[ [a single instance] of] the Software[ in accordance with the Documentation]]; and</p>
<p>(c)&nbsp;&nbsp;&nbsp; [create, store and maintain up to [5] back-up copies of the Software],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; subject to the limitations and prohibitions set out and referred to in this Clause 4.</p>
<p>4.2&nbsp;&nbsp;&nbsp; The User may not sub-license and must not purport to sub-license any rights granted under Clause 4.1[ without the prior written consent of the Licensor].</p>
<p>OR</p>
<p>4.2&nbsp;&nbsp;&nbsp; The User may sub-license the rights granted in Clause 4.1 to [any third party][ for the purposes of [hosting the Software and supporting the User's use of the Software in accordance with this EULA] only]. Any such sub-licence shall automatically terminate upon the termination of the licence in Clause 4.1.</p>
<p>4.3&nbsp;&nbsp;&nbsp; Save to the extent expressly permitted by this EULA or required by applicable law on a non-excludable basis, any licence granted under this Clause 4 shall be subject to the following prohibitions:</p>
<p>(a)&nbsp;&nbsp;&nbsp; [the User must not [sell, resell, rent, lease, loan, supply, publish, distribute or redistribute] the Software];</p>
<p>(b)&nbsp;&nbsp;&nbsp; [the User must not alter, edit or adapt the Software]; and</p>
<p>(c)&nbsp;&nbsp;&nbsp; [the User must not decompile, de-obfuscate or reverse engineer, or attempt to decompile, de-obfuscate or reverse engineer, the Software].</p>
<p><em>[additional list items]</em></p>
<p>4.4&nbsp;&nbsp;&nbsp; The User shall be responsible for the security of copies of the Software supplied to the User under this EULA[ (or created from such copies)] and shall use all reasonable endeavours (including all reasonable security measures) to ensure that access to such copies is restricted to persons authorised to use them under this EULA.</p>
<ol start="5">
<li>Source Code</li>
</ol>
<p>5.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall give to the User or any other person any right to access or use the Source Code or constitute any licence of the Source Code.</p>
<ol start="6">
<li>Maintenance Services</li>
</ol>
<p>6.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services to the User [during the Term].</p>
<p>6.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services [with reasonable skill and care] OR [in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor's industry] OR [<em>[specify standard(s)]</em>].</p>
<p>6.3&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Software by the Licensor will not introduce any Software Defects into the Software.</p>
<p>6.4&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Software by the User in accordance with the instructions of the Licensor will not introduce any Software Defects into the Software.</p>
<p>6.5&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Maintenance Services if any amount due to be paid by the User to the Licensor under this EULA is overdue, and the Licensor has given to the User at least [30 days'] written notice, following the amount becoming overdue, of its intention to suspend the Maintenance Services on this basis.</p>
<p>6.6&nbsp;&nbsp;&nbsp; [Either party may terminate the Maintenance Services by giving to the other party] OR [The Licensor may terminate the Maintenance Services by giving to the User] OR [The User may terminate the Maintenance Services by giving to the Licensor] at least [30 days'] written notice[ expiring on or at any time after the first anniversary of the Effective Date].</p>
<p>6.7&nbsp;&nbsp;&nbsp; If the Licensor stops or makes a good faith decision to stop providing maintenance services in relation to the Software to its customers generally, then the Licensor may terminate the Maintenance Services by giving at least [90 days'] written notice of termination to the User.</p>
<p>6.8&nbsp;&nbsp;&nbsp; If the Maintenance Services are terminated in accordance with the provisions of this Clause 6:</p>
<p>(a)&nbsp;&nbsp;&nbsp; the User must pay to the Licensor any outstanding Charges in respect of Maintenance Services provided to the User before the termination of the Maintenance Services;</p>
<p>(b)&nbsp;&nbsp;&nbsp; the Licensor must refund to the User any Charges paid by the User to the Licensor in respect of Maintenance Services that were to be provided to the User after the termination of the Maintenance Services; and</p>
<p>(c)&nbsp;&nbsp;&nbsp; the provisions of this Clause 6, excluding this Clause 6.8, shall cease to apply, but the other provisions of this EULA will continue notwithstanding such termination.</p>
<ol start="7">
<li>Support Services</li>
</ol>
<p>7.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services to the User [during the Term].</p>
<p>7.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services [with reasonable skill and care] OR [in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor's industry] OR [<em>[specify standard(s)]</em>].</p>
<p>7.3&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Support Services if any amount due to be paid by the User to the Licensor under this EULA is overdue, and the Licensor has given to the User at least [30 days'] written notice, following the amount becoming overdue, of its intention to suspend the Support Services on this basis.</p>
<p>7.4&nbsp;&nbsp;&nbsp; [Either party may terminate the Support Services by giving to the other party] OR [The Licensor may terminate the Support Services by giving to the User] OR [The User may terminate the Support Services by giving to the Licensor] at least [30 days'] written notice[ expiring on or at any time after the first anniversary of the Effective Date].</p>
<p>7.5&nbsp;&nbsp;&nbsp; If the Support Services are terminated in accordance with the provisions of this Clause 7:</p>
<p>(a)&nbsp;&nbsp;&nbsp; the User must pay to the Licensor any outstanding Charges in respect of Support Services provided to the User before the termination of the Support Services;</p>
<p>(b)&nbsp;&nbsp;&nbsp; the Licensor must refund to the User any Charges paid by the User to the Licensor in respect of Support Services that were to be provided to the User after the termination of the Support Services; and</p>
<p>(c)&nbsp;&nbsp;&nbsp; the provisions of this Clause 7, excluding this Clause 7.5, shall cease to apply, but the other provisions of this EULA will continue notwithstanding such termination.</p>
<ol start="8">
<li>No assignment of Intellectual Property Rights</li>
</ol>
<p>8.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall operate to assign or transfer any Intellectual Property Rights from the Licensor to the User, or from the User to the Licensor.</p>
<ol start="9">
<li>Charges</li>
</ol>
<p>9.1&nbsp;&nbsp;&nbsp; The User shall pay the Charges to the Licensor in accordance with this EULA.</p>
<p>9.2&nbsp;&nbsp;&nbsp; All amounts stated in or in relation to this EULA are, unless the context requires otherwise, stated [inclusive of any applicable value added taxes] OR [exclusive of any applicable value added taxes, which will be added to those amounts and payable by the User to the Licensor].</p>
<ol start="10">
<li>Payments</li>
</ol>
<p>10.1&nbsp; The Licensor shall issue [invoices] OR [an invoice] OR [receipts] OR [a receipt] for the Charges to the User <em>[specify when issued]</em>.</p>
<p>10.2&nbsp; The User must pay the Charges to the Licensor [in advance] OR [within the period of [30 days] following [the issue of an invoice in accordance with this Clause 10] OR [the receipt of an invoice issued in accordance with this Clause 10]].</p>
<p>10.3&nbsp; The User must pay the Charges by [debit card, credit card, direct debit, bank transfer or cheque] (using such payment details as are notified by the Licensor to the User from time to time).</p>
<p>10.4&nbsp; If the User does not pay any amount properly due to the Licensor under this EULA, the Licensor may:</p>
<p>(a)&nbsp;&nbsp;&nbsp; charge the User interest on the overdue amount at the rate of [8% per annum above the Bank of England base rate from time to time] (which interest will accrue daily until the date of actual payment and be compounded at the end of each calendar month); or</p>
<p>(b)&nbsp;&nbsp;&nbsp; claim interest and statutory compensation from the User pursuant to the Late Payment of Commercial Debts (Interest) Act 1998.</p>
<ol start="11">
<li>Warranties</li>
</ol>
<p>11.1&nbsp; The Licensor warrants to the User that it has the legal right and authority to enter into this EULA and to perform its obligations under this EULA.</p>
<p>11.2&nbsp; The Licensor warrants to the User that:</p>
<p>(a)&nbsp;&nbsp;&nbsp; [the Software as provided will conform in all [material] respects with the Software Specification];</p>
<p>(b)&nbsp;&nbsp;&nbsp; [the Software will be supplied free from Software Defects[ and will remain free from Software Defects[ for a period of at least 12 months following the supply of the Software]]];</p>
<p>(c)&nbsp;&nbsp;&nbsp; [the Software will be supplied free from viruses, worms, Trojan horses, ransomware, spyware, adware and other malicious software programs]; and</p>
<p>(d)&nbsp;&nbsp;&nbsp; [the Software shall incorporate security features reflecting the requirements of good industry practice].</p>
<p><em>[additional list items]</em></p>
<p>11.3&nbsp; The Licensor warrants to the User that the Software[, when used by the User in accordance with this EULA,] will not breach [any laws, statutes or regulations applicable under English law].</p>
<p>11.4&nbsp; The Licensor warrants to the User that the Software, when used by the User in accordance with this EULA, will not infringe the Intellectual Property Rights of any person [in any jurisdiction and under any applicable law].</p>
<p>11.5&nbsp; If [the Licensor reasonably determines, or any third party alleges, that the use of the Software by the User in accordance with this EULA infringes any person's Intellectual Property Rights], the Licensor may[ acting reasonably] at its own cost and expense:</p>
<p>(a)&nbsp;&nbsp;&nbsp; modify the Software in such a way that it no longer infringes the relevant Intellectual Property Rights[, providing that [any such modification must not introduce any Software Defects into the Software and must not result in the Software failing to conform with the Software Specification]]; or</p>
<p>(b)&nbsp;&nbsp;&nbsp; procure for the User the right to use the Software in accordance with this EULA.</p>
<p>11.6&nbsp; The User warrants to the Licensor that it has the legal right and authority to enter into this EULA and to perform its obligations under this EULA.</p>
<p>11.7&nbsp; All of the parties' warranties and representations in respect of the subject matter of this EULA are expressly set out in this EULA. To the maximum extent permitted by applicable law, no other warranties or representations concerning the subject matter of this EULA will be implied into this EULA or any related contract.</p>
<ol start="12">
<li>Acknowledgements and warranty limitations</li>
</ol>
<p>12.1&nbsp; The User acknowledges that complex software is never wholly free from defects, errors and bugs; and subject to the other provisions of this EULA, the Licensor gives no warranty or representation that the Software will be wholly free from defects, errors and bugs.</p>
<p>12.2&nbsp; The User acknowledges that complex software is never entirely free from security vulnerabilities; and subject to the other provisions of this EULA, the Licensor gives no warranty or representation that the Software will be entirely secure.</p>
<p>12.3&nbsp; The User acknowledges that the Software is only designed to be compatible with that software specified as compatible in the Software Specification; and the Licensor does not warrant or represent that the Software will be compatible with any other software.</p>
<p>12.4&nbsp; The User acknowledges that the Licensor will not provide any [legal, financial, accountancy or taxation advice] under this EULA or in relation to the Software; and, except to the extent expressly provided otherwise in this EULA, the Licensor does not warrant or represent that the Software or the use of the Software by the User will not give rise to any legal liability on the part of the User or any other person.</p>
<ol start="13">
<li>Indemnities</li>
</ol>
<p>13.1&nbsp; The Licensor shall indemnify and shall keep indemnified the User against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the User and arising directly or indirectly as a result of any breach by the Licensor of [this EULA] OR [<em>[specify provisions]</em>] (a "<strong>Licensor Indemnity Event</strong>").</p>
<p>13.2&nbsp; The User must:</p>
<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential Licensor Indemnity Event, notify the Licensor;</p>
<p>(b)&nbsp;&nbsp;&nbsp; provide to the Licensor all such assistance as may be reasonably requested by the Licensor in relation to the Licensor Indemnity Event;</p>
<p>(c)&nbsp;&nbsp;&nbsp; allow the Licensor the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the Licensor Indemnity Event; and</p>
<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the Licensor Indemnity Event or settle any disputes or proceedings involving a third party and relating to the Licensor Indemnity Event without the prior written consent of the Licensor,</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [without prejudice to the Licensor's obligations under Clause 13.1] OR [and the Licensor's obligation to indemnify the User under Clause 13.1 shall not apply unless the User complies with the requirements of this Clause 13.2].</p>
<p>13.3&nbsp; The User shall indemnify and shall keep indemnified the Licensor against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the Licensor and arising directly or indirectly as a result of any breach by the User of [this EULA] OR [<em>[specify provisions]</em>] (a "<strong>User Indemnity Event</strong>").</p>
<p>13.4&nbsp; The Licensor must:</p>
<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential User Indemnity Event, notify the User;</p>
<p>(b)&nbsp;&nbsp;&nbsp; provide to the User all such assistance as may be reasonably requested by the User in relation to the User Indemnity Event;</p>
<p>(c)&nbsp;&nbsp;&nbsp; allow the User the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the User Indemnity Event; and</p>
<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the User Indemnity Event or settle any disputes or proceedings involving a third party and relating to the User Indemnity Event without the prior written consent of the User,</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [without prejudice to the User's obligations under Clause 13.3] OR [and the User's obligation to indemnify the Licensor under Clause 13.3 shall not apply unless the Licensor complies with the requirements of this Clause 13.4].</p>
<p>13.5&nbsp; The indemnity protection set out in this Clause 13 [shall] OR [shall not] be subject to the limitations and exclusions of liability set out in this EULA[, except <em>[exceptions]</em>].</p>
<ol start="14">
<li>Limitations and exclusions of liability</li>
</ol>
<p>14.1&nbsp; Nothing in this EULA will:</p>
<p>(a)&nbsp;&nbsp;&nbsp; limit or exclude any liability for death or personal injury resulting from negligence;</p>
<p>(b)&nbsp;&nbsp;&nbsp; limit or exclude any liability for fraud or fraudulent misrepresentation;</p>
<p>(c)&nbsp;&nbsp;&nbsp; limit any liabilities in any way that is not permitted under applicable law; or</p>
<p>(d)&nbsp;&nbsp;&nbsp; exclude any liabilities that may not be excluded under applicable law,</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and, if a party is a consumer, that party's statutory rights will not be excluded or limited by this EULA, except to the extent permitted by law.</p>
<p>14.2&nbsp; The limitations and exclusions of liability set out in this Clause 14 and elsewhere in this EULA:</p>
<p>(a)&nbsp;&nbsp;&nbsp; are subject to Clause 14.1; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; govern all liabilities arising under this EULA or relating to the subject matter of this EULA, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in this EULA.</p>
<p>14.3&nbsp; The Licensor will not be liable to the User in respect of any losses arising out of a Force Majeure Event.</p>
<p>14.4&nbsp; The Licensor will not be liable to the User in respect of any loss of profits or anticipated savings.</p>
<p>14.5&nbsp; The Licensor will not be liable to the User in respect of any loss of revenue or income.</p>
<p>14.6&nbsp; The Licensor will not be liable to the User in respect of any loss of business, contracts or opportunities.</p>
<p>14.7&nbsp; The Licensor will not be liable to the User in respect of any loss or corruption of any data, database or software.</p>
<p>14.8&nbsp; The Licensor will not be liable to the User in respect of any special, indirect or consequential loss or damage.</p>
<p>14.9&nbsp; The liability of the Licensor to the User under this EULA in respect of any event or series of related events shall not exceed the greater of:</p>
<p>(a)&nbsp;&nbsp;&nbsp; <em>[amount]</em>; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; [the total amount paid and payable by the User to the Licensor under this EULA in the [12 month] period preceding the commencement of the event or events].</p>
<p>14.10&nbsp; The aggregate liability of the Licensor to the User under this EULA shall not exceed the greater of:</p>
<p>(a)&nbsp;&nbsp;&nbsp; <em>[amount]</em>; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; [the total amount paid and payable by the User to the Licensor under this EULA].</p>
<ol start="15">
<li>Termination</li>
</ol>
<p>15.1&nbsp; The Licensor may terminate this EULA by giving to the User [not less than 30 days'] written notice of termination[, expiring [at the end of any [calendar month]] OR [after the end of the Minimum Term]].</p>
<p>15.2&nbsp; The User may terminate this EULA by giving to the Licensor [not less than 30 days'] written notice of termination[, expiring [at the end of any [calendar month]] OR [after the end of the Minimum Term]].</p>
<p>15.3&nbsp; Either party may terminate this EULA immediately by giving written notice of termination to the other party if:</p>
<p>(a)&nbsp;&nbsp;&nbsp; the other party commits any [breach] OR [material breach] of this EULA[, and the breach is not remediable];</p>
<p>(b)&nbsp;&nbsp;&nbsp; [the other party commits a [breach] OR [material breach] of this EULA, and the breach is remediable but the other party fails to remedy the breach within the period of [30 days] following the giving of a written notice to the other party requiring the breach to be remedied]; or</p>
<p>(c)&nbsp;&nbsp;&nbsp; [the other party persistently breaches this EULA (irrespective of whether such breaches collectively constitute a material breach)].</p>
<p>15.4&nbsp; Either party may terminate this EULA immediately by giving written notice of termination to the other party if:</p>
<p>(a)&nbsp;&nbsp;&nbsp; the other party:</p>
<p>(i)&nbsp;&nbsp;&nbsp;&nbsp; is dissolved;</p>
<p>(ii)&nbsp;&nbsp;&nbsp; ceases to conduct all (or substantially all) of its business;</p>
<p>(iii)&nbsp;&nbsp; is or becomes unable to pay its debts as they fall due;</p>
<p>(iv)&nbsp;&nbsp; is or becomes insolvent or is declared insolvent; or</p>
<p>(v)&nbsp;&nbsp;&nbsp; convenes a meeting or makes or proposes to make any arrangement or composition with its creditors;</p>
<p>(b)&nbsp;&nbsp;&nbsp; an administrator, administrative receiver, liquidator, receiver, trustee, manager or similar is appointed over any of the assets of the other party;</p>
<p>(c)&nbsp;&nbsp;&nbsp; an order is made for the winding up of the other party, or the other party passes a resolution for its winding up[ (other than for the purpose of a solvent company reorganisation where the resulting entity will assume all the obligations of the other party under this EULA)]; or</p>
<p>(d)&nbsp;&nbsp;&nbsp; [if that other party is an individual:</p>
<p>(i)&nbsp;&nbsp;&nbsp;&nbsp; that other party dies;</p>
<p>(ii)&nbsp;&nbsp;&nbsp; as a result of illness or incapacity, that other party becomes incapable of managing his or her own affairs; or</p>
<p>(iii)&nbsp;&nbsp; that other party is the subject of a bankruptcy petition or order.]</p>
<p>15.5&nbsp; The Licensor may terminate this EULA immediately by giving written notice to the User if:</p>
<p>(a)&nbsp;&nbsp;&nbsp; any amount due to be paid by the User to the Licensor under this EULA is unpaid by the due date and remains unpaid upon the date that that written notice of termination is given; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; the Licensor has given to the User at least [30 days'] written notice, following the failure to pay, of its intention to terminate this EULA in accordance with this Clause 15.5.</p>
<ol start="16">
<li>Effects of termination</li>
</ol>
<p>16.1&nbsp; Upon the termination of this EULA, all of the provisions of this EULA shall cease to have effect, save that the following provisions of this EULA shall survive and continue to have effect (in accordance with their express terms or otherwise indefinitely): [Clauses 1, 4.1, 10.2, 10.4, 13, 14, 16, 17 and 18].</p>
<p>16.2&nbsp; Except to the extent that this EULA expressly provides otherwise, the termination of this EULA shall not affect the accrued rights of either party.</p>
<p>16.3&nbsp; Within [30 days] following the termination of this EULA for any reason:</p>
<p>(a)&nbsp;&nbsp;&nbsp; the User must pay to the Licensor [any Charges in respect of Services provided to the User before the termination of this EULA and in respect of licences in effect before the termination of this EULA]; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; the Licensor must refund to the User [any Charges paid by the User to the Licensor in respect of Services that were to be (but are not) provided to the User after the termination of this EULA and in respect of licences that were to be (but are not) in effect after the termination of this EULA],</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; without prejudice to the parties' other legal rights.</p>
<p>16.4&nbsp; For the avoidance of doubt, the licences of the Software in this EULA shall terminate upon the termination of this EULA; and, accordingly, the User must immediately cease to use the Software upon the termination of this EULA.</p>
<p>16.5&nbsp; Within [10 Business Days] following the termination of this EULA, the User must:</p>
<p>(a)&nbsp;&nbsp;&nbsp; return to the Licensor or dispose of as the Licensor may instruct all media in its possession or control containing the Software; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; irrevocably delete from all computer systems in its possession or control all copies of the Software.</p>
<ol start="17">
<li>General</li>
</ol>
<p>17.1&nbsp; No breach of any provision of this EULA shall be waived except with the express written consent of the party not in breach.</p>
<p>17.2&nbsp; If any provision of this EULA is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this EULA will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect (unless that would contradict the clear intention of the parties, in which case the entirety of the relevant provision will be deemed to be deleted).</p>
<p>17.3&nbsp; This EULA may not be varied except by a written document signed by or on behalf of each of the parties.</p>
<p>17.4&nbsp; The User hereby agrees that the Licensor may assign the Licensor's contractual rights and obligations under this EULA to [any successor to all or a substantial part of the business of the Licensor from time to time] OR [any third party]. Save to the extent expressly permitted by applicable law, the User must not without the prior written consent of the Licensor assign, transfer or otherwise deal with any of the User's contractual rights or obligations under this EULA.</p>
<p>17.5&nbsp; This EULA is made for the benefit of the parties, and is not intended to benefit any third party or be enforceable by any third party. The rights of the parties to terminate, rescind, or agree any amendment, waiver, variation or settlement under or relating to this EULA are not subject to the consent of any third party.</p>
<p>17.6&nbsp; Subject to Clause 14.1, this EULA shall constitute the entire agreement between the parties in relation to the subject matter of this EULA, and shall supersede all previous agreements, arrangements and understandings between the parties in respect of that subject matter.</p>
<p>17.7&nbsp; This EULA shall be governed by and construed in accordance with [English law].</p>
<p>17.8&nbsp; The courts of [England] shall have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this EULA.</p>
<ol start="18">
<li>Interpretation</li>
</ol>
<p>18.1&nbsp; In this EULA, a reference to a statute or statutory provision includes a reference to:</p>
<p>(a)&nbsp;&nbsp;&nbsp; that statute or statutory provision as modified, consolidated and/or re-enacted from time to time; and</p>
<p>(b)&nbsp;&nbsp;&nbsp; any subordinate legislation made under that statute or statutory provision.</p>
<p>18.2&nbsp; The Clause headings do not affect the interpretation of this EULA.</p>
<p>18.3&nbsp; References in this EULA to "calendar months" are to [the 12 named periods (January, February and so on) into which a year is divided].</p>
<p>18.4&nbsp; In this EULA, general words shall not be given a restrictive interpretation by reason of being preceded or followed by words indicating a particular class of acts, matters or things.</p>
<p><span style="font-size: 11.0pt; line-height: 115%; font-family: 'Verdana',sans-serif;">&nbsp;</span></p>
<p>&nbsp;</p>
<p>Free end user licence agreement: drafting notes</p>
<p>This document is a free-to-use software EULA or end user licence. Click-wrap and web-wrap licences can be created using this document, as well as more traditional shrink-wrap licences. The document governs the legal relationship between a licensor and its customers.</p>
<p>Note: although this EULA can be used for B2C licences as well as B2B licences, it does not include a distance selling clause. See our software download T&amp;Cs for a document incorporating such a clause.</p>
<p>There are a range of optional provisions in the EULA. These cover such matters as: a contractual right to a return/refund; the provision of support in relation to the software; and the supply and application of updates to the software.</p>
<p>Subsection: Shrink-wrap software agreement</p>
<p>This wording may be used for "shrink-wrap" software agreements - that is, agreements that are visible through product packaging and are formally accepted when a person unseals the software packaging. There may be a right to return software, because a customer may not have a chance to review the agreement terms before purchasing the software.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Should the User return the software if the terms of this document are not accepted?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Within what period must the software be returned?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will there be a right to return the software for a refund?</span></li>
</ul>
<p>Subsection: Click-wrap software agreement</p>
<p>This wording may be used for "click-wrap" software agreements - that is, agreements that are formally accepted as part of the software installation process. There is an optional right to return the software, which should be included where customers will or may not have a chance to review the agreement terms before purchasing the software.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will customers have a right to return the software if they do not accept this document?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How should the software be returned?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the customer be entitled to a refund upon the return of the software under this provision?</span></li>
</ul>
<p>Subsection: Web-wrap software agreement</p>
<p>This wording may be used for "web-wrap" agreements - that is, agreements that are formally accepted on a website before the software is downloaded. Accordingly, there is no right to return the software.</p>
<p>Subsection: Agreement on behalf of others relating to software licence</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What third parties may use the software on behalf of, or under the authorisation of, the licensee?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Identify relevant persons.</span></li>
</ul>
<p>Clause 1: Definitions</p>
<p>Clause 1.1</p>
<p>Definition of Charges</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Charges".</span></li>
</ul>
<p>Definition of Documentation</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How should the software documentation be identified?</span></li>
</ul>
<p>Definition of Effective Date</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Effective Date".</span></li>
</ul>
<p>Definition of Force Majeure Event</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify particular examples of force majeure events.</span></li>
</ul>
<p>Definition of Licensor</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Is the first party an individual, a company or a partnership?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the full name of the individual (including middle names)?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the postal address of the first party?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the full company name of the first party?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In which jurisdiction is the first party incorporated?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the registration number of the first party?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the registered office address of the first party?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the name of the first party partnership?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In which jurisdiction is the first party partnership established?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Where is the principal place of business of the first party?</span></li>
</ul>
<p>Definition of Maintenance Services</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the Licensor supply updates/upgrades to the User, apply them to the software, or both?</span></li>
</ul>
<p>Definition of Minimum Term</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What minimum term will apply?</span></li>
</ul>
<p>Definition of Services</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Services".</span></li>
</ul>
<p>Definition of Software</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Identify the software here.</span></li>
</ul>
<p>Definition of Software Defect</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will non-material defects count as software defects for the purposes of this definition?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In what ways may a relevant defect affect the software?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Should a set of general exclusions from this definition be included?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What exclusions should apply here?</span></li>
</ul>
<p>Definition of Software Specification</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Software Specification".</span></li>
</ul>
<p>Definition of Source Code</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Consider whether to adapt the definition of source code.</span></li>
</ul>
<p>Definition of Support Services</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In relation to what exactly will support be provided?</span></li>
</ul>
<p>Definition of Term</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Term", the period during which the contract will subsist.</span></li>
</ul>
<p>Definition of Update</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Update".</span></li>
</ul>
<p>Definition of Upgrade</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "Upgrade".</span></li>
</ul>
<p>Definition of User</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Define "User".</span></li>
</ul>
<p>Clause 2: Credit</p>
<p>Clause: Free documents licensing warning</p>
<p>Optional element. Although you need to retain the credit, you should remove the inline copyright warning from this document before use.</p>
<p>Clause 3: Term</p>
<p>Clause 3.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Is the term of the contract indefinite, or will it come to an end upon some agreed date, or upon the occurrence of a defined event?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Upon what date will the contract terminate?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Upon the occurrence of what event will the contract terminate?</span></li>
</ul>
<p>Clause 4: Licence</p>
<p>Clause 4.1</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">When does the licence to use the software commence?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the licence expire at some point?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What sort of licence is granted?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">When will the licence end?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What specific rights are granted to the User?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the licence specify how many instances of the software may be installed?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How many instances of the software may be installed?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the licence specify how many instances of the software may be used?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Can the use of the software be circumscribed by reference to its documentation?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How many instances of the software may be used?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How many back-up copies of the software may be created?</span></li>
</ul>
<p>Clause 4.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the User have the option to ask the Licensor for consent to sub-licensing?</span></li>
</ul>
<p>Clause 4.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">To whom may the software be sub-licensed?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Is the right to sub-license restricted by reference to purpose?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the purposes by reference to which sub-licensing is permitted.</span></li>
</ul>
<p>Clause 4.3</p>
<p>There are English/EU law restrictions upon the types of prohibition that may be applied to a software licence. In UsedSoft GmbH v Oracle International Corp. (C-128/11), the court ruled that a software vendor could not prevent a perpetual licensee from selling a "used" licence for software downloaded from the internet. The law in this area is complex and uncertain, and you should consider taking legal advice if resale may be an issue for you.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What general prohibitions apply to the use of the software?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the transactional prohibitions applying to the use of the software.</span></li>
</ul>
<p>Clause 4.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Include this text only if the User has the right to take copies.</span></li>
</ul>
<p>Clause 5: Source Code</p>
<p>Optional element.</p>
<p>Clause 6: Maintenance Services</p>
<p>Optional element.</p>
<p>Clause 6.1</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">During what period will the maintenance services be provided?</span></li>
</ul>
<p>Clause 6.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What standard(s) must the maintenance services meet?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the standard or standards the services must meet.</span></li>
</ul>
<p>Clause 6.3</p>
<p>Optional element.</p>
<p>Clause 6.4</p>
<p>Optional element.</p>
<p>Clause 6.5</p>
<p>Optional element. Will the Licensor have a right to suspend the maintenance services in the event that the User fails to pay any amount due under the contract?</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How much notice of an intention to suspend the maintenance services must the Licensor give to the User?</span></li>
</ul>
<p>Clause 6.6</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Which of the parties has the right to terminate the maintenance services (independently from any termination of the entire contract)?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How much notice of termination of the maintenance services must be given?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will there be a minimum period for the maintenance services?</span></li>
</ul>
<p>Clause 6.7</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How much notice of discontinuance of the software maintenance services must the Licensor give to the User?</span></li>
</ul>
<p>Clause 6.8</p>
<p>Optional element.</p>
<p>Clause 7: Support Services</p>
<p>Optional element.</p>
<p>Clause 7.1</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">During what period will the support services be provided?</span></li>
</ul>
<p>Clause 7.2</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What standard(s) must the support services meet?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the standard or standards the support services must meet.</span></li>
</ul>
<p>Clause 7.3</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How much notice must the Licensor give to the User of a suspension of services following non-payment?</span></li>
</ul>
<p>Clause 7.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Which of the parties has the right to terminate the support services (independently from any termination of the entire contract)?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How much notice of termination of the support services must be given?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will there be a minimum period for the support services?</span></li>
</ul>
<p>Clause 7.5</p>
<p>Optional element.</p>
<p>Clause 8: No assignment of Intellectual Property Rights</p>
<p>Optional element.</p>
<p>Clause 9: Charges</p>
<p>Optional element.</p>
<p>Clause 9.2</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Are payment amounts stated inclusive or exclusive of VAT?</span></li>
</ul>
<p>Clause 10: Payments</p>
<p>Optional element.</p>
<p>Clause 10.1</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the Licensor issue invoices in advance of payment, or receipts in arrears?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">When will invoices / receipts be issued?</span></li>
</ul>
<p>Clause 10.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will charges be paid in advance or following the issue of an invoice?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the period for payment of invoices?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">When does the period for payment of an invoice begin to run?</span></li>
</ul>
<p>Clause 10.3</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Using what methods should payments be made?</span></li>
</ul>
<p>Clause 10.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What contractual interest rate should apply to late payments?</span></li>
</ul>
<p>Clause 11: Warranties</p>
<p>Optional element.</p>
<p>Clause 11.1</p>
<p>Optional element.</p>
<p>Clause 11.2</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What warranties in relation to the quality of the software will the Licensor give to the User?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Is this warranty subject to a materiality threshold?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will this warranty relate to a specific period?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">For what period will this warranty apply?</span></li>
</ul>
<p>Clause 11.3</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the scope of this warranty?</span></li>
</ul>
<p>Clause 11.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the jurisdictional coverage of the warranty?</span></li>
</ul>
<p>Clause 11.5</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In what circumstances may the Licensor exercise its rights under this provision?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Should there be an express requirement for the Licensor to act reasonably in relation to the exercise of its rights under this provision?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Are there any express limitations on this right to modify?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the limitations on the right to modify.</span></li>
</ul>
<p>Clause 11.6</p>
<p>Optional element.</p>
<p>Clause 12: Acknowledgements and warranty limitations</p>
<p>Optional element.</p>
<p>Clause 12.1</p>
<p>Optional element.</p>
<p>Clause 12.2</p>
<p>Optional element.</p>
<p>Clause 12.3</p>
<p>Optional element.</p>
<p>Clause 12.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What types of advice should be specified here?</span></li>
</ul>
<p>Clause 13: Indemnities</p>
<p>Should the document include indemnities?</p>
<p>Clause 13.1</p>
<p>Optional element.</p>
<p>If this provision is included, losses suffered by the second party as a result of a breach of the contract by the first party will be assessed on an indemnity basis, rather than a standard basis.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the indemnity cover any breach of contract, or only the breach of specified provision(s)?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify those provisions the breach of which will be covered by the indemnity.</span></li>
</ul>
<p>Clause 13.2</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the indemnity only apply where the User complies with the requirements of this provision?</span></li>
</ul>
<p>Clause 13.3</p>
<p>Optional element.</p>
<p>If this provision is included, losses suffered by the first party as a result of a breach of the contract by the second party will be assessed on an indemnity basis, rather than a standard basis.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the indemnity cover any breach of contract, or only the breach of specified provision(s)?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify those provisions the breach of which will be covered by the indemnity.</span></li>
</ul>
<p>Clause 13.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the indemnity only apply where the Licensor complies with the requirements of this provision?</span></li>
</ul>
<p>Clause 13.5</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the indemnity provisions be subject to the limitations and exclusions of liability in the document?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will there be any exceptions to the general rule here?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the exceptions to the general rule.</span></li>
</ul>
<p>Clause 14: Limitations and exclusions of liability</p>
<p>Contractual limitations and exclusions of liability are regulated and controlled by law, and the courts may rule that particular limitations and exclusions of liability in contracts are unenforceable.</p>
<p>Exclusions and limitations of liability in UK B2B contracts are primarily regulated by the Unfair Contract Terms Act 1977 ("UCTA"), while those in UK B2C contracts are primarily regulated by the Consumer Rights Act 2015 ("CRA"). Contracts regulated by UCTA cannot exclude or restrict a party's liability for death or personal injury resulting from negligence (Section 2(1), UCTA).</p>
<p>Except insofar as the relevant term satisfies the requirements of reasonableness, such contracts cannot exclude or restrict liability: (i) for negligence (which includes a breach of an express or implied contractual obligation to take reasonable care or exercise reasonable skill) (Section 2(2), UCTA); or (ii) for misrepresentation (Section 3, Misrepresentation Act 1967). In addition, if a contract is regulated by UCTA, and one of the parties is dealing on the other's written standard terms of business, then except insofar as the relevant contractual term satisfies the requirements of reasonableness the other party cannot: (i) exclude or restrict his liability in respect of a breach of contract; or (ii) claim to be entitled to render a contractual performance substantially different from that which was reasonably expected of him; or (iii) claim to be entitled, in respect of the whole or any part of his contractual obligation, to render no contractual performance at all (see Section 3, UCTA).</p>
<p>UCTA includes various other restrictions, particularly in the case of contracts for the sale of goods and contracts under which possession or ownership of goods passes.</p>
<p>Consumer contracts regulated by the CRA cannot exclude or restrict liability for death or personal injury resulting from negligence (Section 65(1), CRA). Further, any "unfair term" in such a contract will not be binding on the consumer (Section 62(1), CRA). A contractual term is unfair "if, contrary to the requirement of good faith, it causes a significant imbalance in the parties' rights and obligations arising under the contract to the detriment of the consumer" (Section 62(3), CRA). Section 57 of the CRA provides (inter alia) that a term in a services contract will not bind consumers if it excludes any liability of the trader to provide the services with reasonable care and skill. A "grey list" of provisions that may be regarded as unfair is set out in Part 1 of Schedule 2 to the CRA. Some of these have implications for the drafting of limitations and exclusions of liability. For example, they include: "[a] term which has the object or effect of excluding or limiting the trader's liability in the event of the death of or personal injury to the consumer resulting from an act or omission of the trader." "Where a term of a consumer contract, or a consumer notice, purports to exclude or restrict a trader's liability for negligence, a person is not to be taken to have voluntarily accepted any risk merely because the person agreed to or knew about the term or notice" (Section 65(2), CRA).</p>
<p>The courts are particularly likely to intervene where a party is seeking to rely on a limitation or exclusion of liability in its standard terms and conditions, but will also sometimes intervene where a term has been individually negotiated. The courts may be more likely to rule that provisions excluding liability, as opposed to those merely limiting liability, are unenforceable. If there is a risk that any particular limitation or exclusion of liability will be found to be unenforceable by the courts, that provision should usually be drafted as an independent term, and be numbered separately from the other provisions.</p>
<p>These guidance notes provide a very incomplete and basic overview of a complex subject. Accordingly, you should take legal advice if you may wish to rely upon a limitation or exclusion of liability.</p>
<p>Clause 14.1</p>
<p>Do not delete this provision (except upon legal advice). Without this provision, the specific limitations and exclusions of liability in the document are more likely to be unenforceable.</p>
<p>Clause 14.4</p>
<p>Optional element.</p>
<p>Clause 14.5</p>
<p>Optional element.</p>
<p>Clause 14.6</p>
<p>Optional element.</p>
<p>Clause 14.7</p>
<p>Optional element.</p>
<p>Clause 14.8</p>
<p>Optional element.</p>
<p>"Consequential loss" has a special meaning in English law: it means any loss that, whilst not arising naturally from the breach, was specifically in the contemplation of the parties when the contract was made.</p>
<p>Clause 14.9</p>
<p>Optional element. Do you want to include a per event liability cap in this document?</p>
<p>Liability caps may be unenforceable in practice.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Do you want to include a per event liability cap in this document?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What monetary amount should be used in the liability cap?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What floating amount should be used in the liability cap?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">The charge payable during what period, prior to the event or events, should be used for calculating this liability cap?</span></li>
</ul>
<p>Clause 14.10</p>
<p>Optional element. Do you want to include an aggregate liability cap in this document?</p>
<p>Liability caps may be unenforceable in practice.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Do you want to include an aggregate liability cap in this document?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What monetary amount should be used in the liability cap?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What floating amount should be used in the liability cap?</span></li>
</ul>
<p>Clause 15: Termination</p>
<p>Clause 15.1</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What notice period will apply?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Must the notice of termination expire after some particular period, or on some particular day?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How will the limitation on the expiry of the termination notice period operate?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the relevant period.</span></li>
</ul>
<p>Clause 15.2</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What notice period will apply?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Must the notice of termination expire after some particular period, or on some particular day?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">How will the limitation on the expiry of the termination notice period operate?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify the relevant period.</span></li>
</ul>
<p>Clause 15.3</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">In what circumstances may a party terminate for breach?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will all breaches, or only material breaches, give rise to a right of termination?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What is the remediation period here?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Should each party have a right to terminate if the other party is persistently in breach of contract, even where there has been no material breach?</span></li>
</ul>
<p>Clause 15.4</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will the winding up of a party as part of a solvent company reorganisation give rise to a right of termination for the other party?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Will or might a party to the document be an individual, rather than a corporate entity?</span></li>
</ul>
<p>Clause 15.5</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">What notice period applies in the case of termination for non-payment?</span></li>
</ul>
<p>Clause 16: Effects of termination</p>
<p>Clause 16.3</p>
<p>Optional element.</p>
<p>This provision will not be suitable in all circumstances. The appropriate treatment of charges upon termination will vary from contract to contract.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Within what period following termination must charges in respect of services be settled?</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify those charges that the User must pay to the Licensor upon termination.</span></li>
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Specify those charges that the Licensor must refund to the User upon termination.</span></li>
</ul>
<p>Clause 16.4</p>
<p>Optional element.</p>
<p>Clause 16.5</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Within what period following termination must licensed software copies be returned, destroyed or deleted?</span></li>
</ul>
<p>Clause 17: General</p>
<p>Clause 17.1</p>
<p>Optional element.</p>
<p>Clause 17.2</p>
<p>Optional element.</p>
<p>Clause 17.3</p>
<p>Optional element.</p>
<p>This is intended to prevent, for example, one party wrongfully claiming that a term of the contract was changed in a telephone call.</p>
<p>Clause 17.4</p>
<p>Optional element.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">To whom may the Licensor assign its rights and obligations under the contract?</span></li>
</ul>
<p>Clause 17.5</p>
<p>Optional element.</p>
<p>This provision is designed to exclude any rights a third party may have under the Contracts (Rights of Third Parties) Act 1999.</p>
<p>Clause 17.6</p>
<p>Optional element.</p>
<p>Clause 17.7</p>
<p>This template has been drafted to work in the English law context. If you plan to change the governing law, you should have the document reviewed by someone with expertise in the law of the relevant jurisdiction.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">Which law will govern the document?</span></li>
</ul>
<p>Clause 17.8</p>
<p>Optional element.</p>
<p>As a practical matter, it makes sense for the courts with expertise in the relevant law to have the right to adjudicate disputes. Where one of the parties is outside England (or at least the UK), you may want to grant the courts of their home jurisdiction the right to adjudicate disputes, as this could ease enforcement in some circumstances.</p>
<ul style="margin-top: 0in;">
<li><span style="font-size: 10.0pt; line-height: 115%; color: black;">The courts of which jurisdiction will have the exclusive right to adjudicate disputes relating to the document (subject to applicable law)?</span></li>
</ul>
<p>Clause 18: Interpretation</p>
<p>Should provisions concerning the interpretation of the document be included?</p>
<p>Clause 18.1</p>
<p>Optional element.</p>
<p>Clause 18.2</p>
<p>Optional element.</p>
<p>Clause 18.3</p>
<p>Optional element.</p>
<p>Clause 18.4</p>
<p>Optional element.</p>
<p>This provision is designed to exclude the application of a rule of interpretation known as the ejusdem generis rule. That rule may affect the interpretation of contractual clauses that list particular examples or instances of some more general idea, by limiting the scope of the general idea by reference to those particular examples or instances.</p>